
# Copyright 2022-2024 NXP
#
# NXP Confidential. This software is owned or controlled by NXP and may only
# be used strictly in accordance with the applicable license terms. By expressly accepting
# such terms or by downloading, installing, activating and/or otherwise using
# the software, you are agreeing that you have read, and that you agree to
# comply with and are bound by, such license terms. If you do not agree to
# be bound by the applicable license terms, then you may not retain,
# install, activate or otherwise use the software.


#General settings

tone_freq=5             #value in MHz
amp=35                  #35% of full scale, single tone rms=0.25
rx_tx_LO_delta=30       #value in MHz

if [ $vspa_dev_type = LA9310 ];then
	tone_freq=6             #value in MHz
	amp=20                  #% of full scale, 
	rx_tx_LO_delta=15       #value in MHz
else
	tone_freq=24             #value in MHz
	amp=35                  #35% of full scale, single tone rms=0.25
	rx_tx_LO_delta=45       #value in MHz
fi

VERSION=3.0.1

verbose_en=5            #select log

repeat=5                #2: repeat ,      otherwise skip

cmd_dir=./qec           #path for qec scripts

cap_size=32768          #RX dump file size in byte



##################################################################
#   RX Calibration
##################################################################
L=8192                 #LS-ADC capture length 
N=4096                 #FFT Length (power of two, maximum L)


##################################################################
#   DC_offset Calibration
##################################################################
dc_offset_threshold=-70 # if threshold value is reached => exit the loop

# Please configure these parameters accordingly.

#initial parameters
dc_i=0 
dc_q=0 
step_dc_i_init=0.01
step_dc_q_init=0.01
dc_outer_loop_count=3
dc_inner_loop_count=10

dir=0				            # 1:plus,   -1:minus 	0:unknown

ant_feedback=0


##################################################################
#   TX Calibration
##################################################################
IMRR_threshold=70       # if threshold value is reached => exit the loop

# Please configure these parameters accordingly.

#initial parameters
gain_init=0         # in dB
phase_init=0        # in degrees
step_gain_init=1    # in dB
step_phase_init=1   # in degrees
tx_outer_loop_count=3
tx_inner_loop_count=10


##################################################################
